*.txt
*.alt
*.bat
dist/
__pycache__/
build/
dist/
idea/
tests/
tests/*.py
av1test/
*.png
*.log
tst_*.py
.qt_for_*
ffcmd.ini.*
.vscode/launch.json
*.pyd
.env
.env.xcode
tests/ffmpy.py
tests/Infpy.py
tests/pytime.py
tests/win2.py
