*.txt
*.alt
*.bat
dist/
__pycache__/
build/
dist/
idea/
.idea/
tests/
testx/
av1test/
*.png
*.log
tst_*.py
.qt_for_*
ffcmd.ini.*
.vscode/launch.json
*.pyd
.env*
.idea/dictionaries/rg.xml
.gitignore
videoFile.py
.idea/dictionaries/rg.xml
.vscode/launch.json
*.pdb
*.pdb.*
.vscode/
*.snippet
uv.lock
test*.py
